{% extends 'base.html.twig' %}

{% block body %}
<div id="container" class="container">
    <h1>Immo Cname <small>un super TD...</small></h1>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ad.photos[0].url}}" class="img-responsive img-thumbnail" alt="Responsive image"/>
        </div>
        <div class="col-md-8">
            <p>{{ad.description}}</p>
        </div>
    </div>
</div>

</div>
{% endblock %}
